* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.main-login, .login-section, .login-section a, .login-section section input, .todos-header, .todos-page, .todo-form, .todo-form input, .todos-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-login {
  height: 100vh;
  background: rgb(255,208,251);
  background: linear-gradient(144deg, rgba(255,208,251,1) 0%, rgba(201,203,245,1) 48%, rgba(177,242,255,1) 100%);
}

.login-section {
  border: 1px solid rgb(219, 219, 219);
  border-radius: 10px;
  height: 50%;
  width: 75%;
  flex-direction: column;
  justify-content: space-around;
  padding: 40px 20px;
  background: rgba( 255, 255, 255, 0.35 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 1px );
  -webkit-backdrop-filter: blur( 1px );
}

.login-infos {
  width: 70%;
}

.login-infos section {
  margin-bottom: 20px;
}

.login-section section input {
  width: 100%;
  height: 30px;
  border: none;
  border-bottom: 1px solid black;
  background: none;
}

.login-section a, .login-section a button {
  background: rgb(255,208,251);
  background: linear-gradient(254deg, rgba(255,208,251,1) 0%, rgba(201,203,245,1) 48%, rgba(177,242,255,1) 100%);
  border: 1px solid rgb(219, 219, 219);
  border-radius: 10px;
  width: 70%;
  height: 30px;
  color: black;
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
}

.todos-page {
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
}

.todos-header {
  justify-content: space-around;
  height: 10%;
  width: 100%;
  border-bottom: 1px solid black;
  background-color: rgb(226, 255, 255);
}

.todo-form {
  width: 100%;
  height: 5vh;
}

.todo-form input, .todo-form button {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(204, 204, 204, 0.568);
}

.todos {
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.todos-div {
  width: 95%;
  height: 4vh;
  margin: 10px 2.5%;
  border: 1px solid black;
}

.todos-div input {
  margin-right: 5px;
}